.main__info-button {
    width: 262px;
    height: 61px;   
    background: #4077F3;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #E4E5EA;

    margin-top: 60px;
    float: right;
    cursor: pointer;
}

@media screen and (max-width: 1140px) {
    .main__info-button {
        display: none;
    }   
}