.footer__credits-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #E4E5EA;

    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (max-width: 1140px) {
    .footer__credits-item {
        text-align: left;
    }   
}