.header__logo {
    max-width: 140px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@media screen and (max-width: 1140px) {
    .header__logo {
        display: none;
    }   
}