.header {
    display: flex;
    min-width: 320px;
    height: 58px;
    padding-top: 46px;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

@media screen and (max-width: 1140px) {
    .header {
        background-color: #0E1014;
        padding: 16px 20px 16px 20px;
        height: auto;
        width: 330px;
        margin: 0 auto;
    }   
}