.footer__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #656566;
}

@media screen and (max-width: 1140px) {
    .footer__title {
        font-size: 12px;
        line-height: 15px;
    }   
}