.footer__list-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 10px;
}

.footer__list-item a {
    color: #E4E5EA;
    text-decoration: none;
}

@media screen and (max-width: 1140px) {
    .footer__list-item {
        font-size: 14px;
        line-height: 17px;
    }   
}